@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ignore errors for the following line */
@theme {
    --sage-50: #e8efe0;
    --burgundy: #8b284a;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}



.site-title {
  font-family: 'StayClassy', cursive !important;
  font-size: 2.875rem;
  line-height: 2.25rem;
}

.accent-text {
  font-family: 'StayClassy', cursive !important;
}

/* Hamburger Menu Styles */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #4d5548; /* olive-800 */
  transition: all 0.3s;
  transform-origin: center;
}

.hamburger.open .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}


/* In your globals.css file */
.btn-primary {
  padding: 0.75rem 1.5rem; /* px-6 py-3 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: white;
  background-color: #8b284a;
  border-radius: 0.25rem; /* rounded */
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary:hover {
  background-color: #771f3e;
}

.btn-secondary {
    padding: 0.75rem 1.5rem; /* px-6 py-3 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    color: white;
    background-color: #4d5548;
    border-radius: 0.25rem; /* rounded */
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Montserrat', sans-serif;
}

.heading-accent {
  font-family: 'StayClassy', cursive!important;
  font-weight: normal;
}

.heading-primary, .heading-secondary, .heading-level-three {
  font-family: 'Playfair Display', serif;
  color: #4a5145;
  font-weight: 400;
  font-size: 26px;
}

.subheading {
  font-family: 'Montserrat', sans-serif;
  color: #771f3e;
  font-weight: 400;
}

.pattern-bg {
  background-image: url('../public/images/circle-pattern_x4_transparent.png');
  --background-overlay: '';
  background-repeat: no-repeat;
  background-size: contain;
}

.body-outline {
  background-image: url('../public/images/body-shape_x4-sm.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Custom breakpoint for larger tablets */
@media (min-width: 960px) {
  .lg\:hidden {
    display: none;
  }

  .hidden.lg\:flex {
    display: flex;
  }

  .heading-primary, .heading-secondary {
    font-size: 32px;
  }

  .heading-level-three {
    font-size: 24px;
  }

  .subheading {
    font-size: 20px;
  }
}

@media (max-width: 959px) {
  .hidden.lg\:flex {
    display: none;
  }
  .heading-primary {
    font-size: 32px;
  }
}

@media (min-width: 1028px) {
  .heading-primary {
    font-size: 40px;
  }
}