@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --sage-50: #e8efe0;
    --burgundy: #8b284a;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}

.site-title {
  font-family: 'StayClassy', cursive !important;
  font-size: 2.875rem;
  line-height: 2.25rem;
}

.accent-text {
  font-family: 'StayClassy', cursive !important;
  color: var(--burgundy)
}